<div class='template'>
  
<div class='inline-divs'>
  <div class='inline-div'>
    <%=link_to "Create Story", new_story_path%>
  </div>
</div>

<div class='clear'>
</div>

<% if flash[:notice] %>  
  <div id='flash_notice'>
    <%=flash[:notice]%>
  </div>
<% end %>

<% if @stories.any?%>
  <div class='stories'>
    <% @stories.each do |story|%>
      <div class='story'>
        <div class='story-title'>
          <%=story.title%>
        </div>
        <div class='story-desc'><%=story.description%></div>
        <span>
         <%=link_to "Edit", edit_story_path(story)%>
        </span>    
        <span>
          <%=link_to "Comment", '#'%>
        </span>
        <span>
          <%=link_to "Destroy", story_path(story), :method => :delete, :confirm => "Are you sure?"%>
        </span>
      </div>
    <% end %>
  </div>
  
<% end %>
</div>


