<div class='container'>

  <div class='form'>

    <h2>Create a Story</h2>
   <%=form_for @story do |form|%>

    <div class='field'>
        <label for="">Title</label>
        <%=form.text_field :title%>
    </div>

    <div class='field'>
     <label for="">url</label>
     <%=form.text_field :url%>
    </div>
    
    
    <div class='field'>
     <label for="">Description</label>
     <%=form.text_field :description%>
    </div>


    <div class='field'>
      <label for=""></label>
      <%=form.submit "Save"%>
    </div>

    <% end %>

  </div>

</div>
