<div class='inline-divs'>
  <div class='inline-div'>
    <%=link_to "All Stories", stories_path%>
  </div>
</div>

<div class='clear'>
</div>

<div class=''>
 <h1><%=@story.title%></h1>
 <%=@story.description%> 
</div>

<div class='story-comments'>

  <div class='comment'>
    <span class='comment-user'>Anuj Says:</span>This story goes very deep
  </div>

</div>

<% unless user_signed_in? %>
<div class='comment_error' style='display:none;'>
</div>
<% end %>

<div class='comment-form'>
  <%=form_for @comment, :url => story_comments_path(@story), :remote => true do |f|%>    
    <div class='field'>
      <label>Comment:</label>
      <%=f.text_area :body%>
    </div>
    <div class='field'> 
      <%=f.submit "Submit"%>
    </div>
  <% end %>
</div>  
  
<script>
$(document).ready(function(){
 $('#new_comment').on('ajax:error', function(evt, xhr, res){
    $('div.comment_error').attr('id', 'flash_error').html(xhr.responseText).slideDown();
  })
});
</script>
