<div class='inline-divs'>
  <div class='inline-div'>
    <%=link_to "All Stories", stories_path%>
  </div>
</div>

<div class='clear'>
</div>

<div class=''>
 <h1><%=@story.title%></h1>
 <%=@story.description%> 
</div>

<div class='story-comments'>

  <div class='comment'>
    <span class='comment-user'>Anuj Says:</span>This story goes very deep
  </div>

</div>

<div class='comment-form'>
  <%=form_for @comment, :url => new_story_comment_path(@story) do |f|%>    
    <div class='field'>
      <label>Comment:</label>
      <%=f.text_area :body%>
    </div>
    <div class='field'> 
      <%=f.submit "Submit"%>
    </div>
  <% end %>
</div>  
  
